@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

::-moz-selection {
    background: rgba(255, 235, 59, 0.8);
}

::selection {
    background: rgba(255, 235, 59, 0.8);
}

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: #1A237E;
}

#topFiller {
	height: 75px;
	width: 100%;
}

.navWrapper {
	position: fixed;
	z-index:1000;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 75px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
	background-color: white;
}

.logoWrapper {
	position: relative;
	float: left;
	width: 400px;
	height: 100%;
	background-position: center;
	background-image: url('logo3.png');
	background-repeat: no-repeat;
}

nav {
	position: relative;
	float: right;
	width: 50%;
	height: 100%;
}

ul.nav {
	position: relative;
	float: right;
	height: 100%;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

ul.nav li {
	text-decoration: none;
	display: inline-block;
	height: 100%;
	padding: 0px 25px 0px 25px;
	line-height: 75px;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.87);
	transition: 0.25s ease all;
	border-top: 0px solid #FFEB3B;
	border-bottom: 0px solid #FFEB3B;
}

ul.nav li a {
	text-decoration: none;
	color: inherit;
}

ul.nav li:hover {
	border-top: 10px solid rgba(244, 67, 54, 0.8);
	border-bottom: 10px solid rgba(63, 81, 181, 0.8);
	background-color: rgba(255, 235, 59, 0.8);
	line-height: 55px;
}

.attachment-post-thumbnail {
	min-width: 100%;
	min-height: 100%;
    width: auto;
    height: auto;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: -2;
}

#fullpic {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	z-index: 0;
}

.wrapper {
	width: 960px;
	margin: auto;
	position: relative;
}

.titleWrapper {
	position: absolute;
	bottom: 0px;
	display: block;
	width: 100%;
	text-align: left;
	text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
	padding: 25px;
}

h1 {
	font-weight: 300;
	font-size: 50px;
	margin: 0px;
}

.titleWrapper h1 {
	color: white;
}

.postAttWrapper {
	width: 100%;
	height: 50px;
	position: relative;
	z-index: 50;
	background-color: white;
}

h3 {
	margin: 0px;
	position: relative;
	float: left;
	font-weight: 400;
	color: inherit;
}

.postAttAutWrapper {
	width: 33.3333%;
	height: 100%;
	border-top: 5px solid rgba(63, 81, 181, 0.8);
	border-bottom: 5px solid rgba(63, 81, 181, 0.8);
	background-color: rgba(63, 81, 181, 0.2);
	position: relative;
	float: left;
	line-height: 40px;
	padding-left: 50px;
	padding-right: 50px;
	color: rgba(63, 81, 181, 0.8);
}

.postAttTagWrapper {
	width: 33.3333%;
	height: 100%;
	border-top: 5px solid rgba(255, 235, 59, 0.8);
	border-bottom: 5px solid rgba(255, 235, 59, 0.8);
	background-color: rgba(255, 235, 59, 0.2);
	position: relative;
	float: left;
	line-height: 40px;
	padding-left: 50px;
	padding-right: 50px;
	color: rgba(255, 235, 59, 1);
}

.postAttDatWrapper {
	width: 33.3333%;
	height: 100%;
	border-top: 5px solid rgba(244, 67, 54, 0.8);
	border-bottom: 5px solid rgba(244, 67, 54, 0.8);
	background-color: rgba(244, 67, 54, 0.2);
	position: relative;
	float: left;
	line-height: 40px;
	padding-left: 50px;
	padding-right: 50px;
	color: rgba(244, 67, 54, 0.8);
}

.postAttAutImg {
	background-image: url('author.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 35px;
	height: 40px;
	margin-right: 25px;
	position: relative;
	float: left;
}

.postAttTagImg {
	background-image: url('tag.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 35px;
	height: 40px;
	margin-right: 25px;
	position: relative;
	float: left;
}

.postAttDatImg {
	background-image: url('date.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 35px;
	height: 40px;
	margin-right: 25px;
	position: relative;
	float: left;
}

.mainContent {
	max-width: 960px;
	width: 100%;
	margin: auto;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
	padding: 25px;
	padding-top: 75px;
}

.headerShadow {
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
	height: 70%;
	position: relative;
}

.alignright {
	position: relative;
	float: right;
}

.alignleft {
	position: relative;
	float: left;
}

.aligncenter {
	display: block;
	margin: auto;
}

.wrapperWrapper {
	background-color: white;
}

footer {
	position: relative;
	z-index: 50;
	background-color: white;
	font-weight: 100;
}

.footerRed {
	position: relative;
	z-index: 9;
	min-height: 50px;
	background-color: #B71C1C;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
	padding: 25px;
	color: white;
}

.footerYellow {
	position: relative;
	z-index: 10;
	min-height: 50px;
	background-color: #FDD835;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
	padding: 25px;
}

.footerBlue {
	position: relative;
	z-index: 11;
	min-height: 50px;
	background-color: #1A237E;
	box-shadow: 0px -12.5px 12.5px -12.5px rgba(0, 0, 0, 0.5);
	padding: 25px;
	color: white;
}